{% for page in pages if page.id not in ['index','feed'] %}
<div class="portfolio-modal modal fade" id="{{ page.id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ page.title }}</h2>
                        <hr class="star-primary">
                        <img src="{{ base_url ~ '/' ~ page.meta.image }}" class="img-responsive img-centered" alt="">
                        {{ page.id | content }}
                        <ul class="list-inline item-details">
                            {% if page.date %}<li>Date: <strong>{{ page.date | date("F Y") }}</strong></li>{% endif %}
                            {% if page.meta.category %}<li>Category: <strong>{{ page.meta.category | join(", ")}}</strong></li>{% endif %}
                            {% for key, value in page.meta.info %}
                                <li>{{ key }}: <strong>{{ value | join(", ")}}</strong></li>
                            {% endfor %}
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
